body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

video,
canvas,
#ascii-input-img {
    display: none;
}

pre {
    font-family: monospace;
    font-weight: bold;
    user-select: none;
}

pre.stream {
    display: inline-block;
    font-size: 10px;
    line-height: 6px;
    margin: 0;
}

pre.img {
    font-size: 14px;
    line-height: 8px;
}

button {
    background-image: url(tisk.png);
    background-size: 87px 29px;
    border: 0;
    cursor: pointer;
    display: block;
    height: 29px;
    margin-top: 8px;
    width: 87px;
}

#placeholders {
    height: 100vh;
}